body{
  font-family: "Benton Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 2em;
  font-size: 18px;
  background-image: url("https://i.ytimg.com/vi/DgtXWjd3H5s/maxresdefault.jpg");
  background-size: cover;
  background-color: rgba(0,0,0,);
  background-blend-mode: multiply;
}

.ajeita{
  padding-top: 20px;
  background-color: #00076f;
  text-align: center;
  width: 50%;
  margin-top: 25vh;
  margin: 0 auto;
  padding-bottom: 20px;
  border-radius: 1.5rem;
}

.button{
  border: 0;
  background-color: #7E7DFF;
  padding: 10px 20px 10px;
  font-size: 18pt;
  color: #E6E1E5;
  user-select: none;
  cursor: pointer;
  transition: background 0.5s;
}

button:hover{
  background-color: rgb(100, 255,125);
  color: brown;
}

#perguntas{
  display: none;
}

ul{
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
}

li{
  padding: 20px;
  text-align: center;
  padding: auto;
}

h2{
  font-size: large;
  text-align: center;
  color: #ffe4f2;
  padding: 25px 25px 25px;
  background-color: purple; 

}

span{
  color: white;
}